Documents Vector in Supabase.json
{
  "name": "Documents Vector in Supabase",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        -48
      ],
      "id": "04ec5ff9-d7b6-4a3c-a165-4421ffa71eca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nGrxyK-n40MDQUO6pMCkPg7uhgTlUbzVdz1W_4nrkKM",
          "mode": "list",
          "cachedResultName": "Products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nGrxyK-n40MDQUO6pMCkPg7uhgTlUbzVdz1W_4nrkKM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nGrxyK-n40MDQUO6pMCkPg7uhgTlUbzVdz1W_4nrkKM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        -48
      ],
      "id": "5b447779-3bba-4783-a2ca-6835648a926b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wjL5p5lthrv7J7C0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb3e7b67-98dc-4cce-9480-bbb7e9712cbf",
              "name": "content",
              "value": "=Product name: {{ $json.Name }}\nCategory: {{ $json.Category }}\nSKU: {{ $json.SKU }}\nPrice: {{ $json.Price }}\nDescription: {{ $json.Description }}",
              "type": "string"
            },
            {
              "id": "44b0fde7-e632-4d25-b478-63db8f3a7543",
              "name": "category",
              "value": "=Category: {{ $json.Category }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -48
      ],
      "id": "284e73ca-461f-46a9-93fc-00822a4367b4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "knowledgebase",
          "mode": "list",
          "cachedResultName": "knowledgebase"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        560,
        -48
      ],
      "id": "b974af53-8356-4d67-affe-a7f7ddd58c37",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "8Nnvp8w7N0HVuRjD",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        176
      ],
      "id": "e481343c-4c68-4bbd-bfc9-ed807c8ef081",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TlDGqcfbTlEM3Qj0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "category",
                "value": "={{ $json.category }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        640,
        144
      ],
      "id": "0bc6f432-35a1-4941-a935-1c9937d6cf36",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e72cfc9b-d22b-4ac6-b179-4c6ee3ca493e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d92c7aa5ff68481ef3ab8e50426201d259e19f650a140ff0dbe1d88bc2470ad"
  },
  "id": "tQp3N-dhLQXdYW1sC0AbJ",
  "tags": []
}