sub_agent.json
{
  "name": "sub_agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You find sales prospects based on a specific query from the user. You use the tools to search the internet and scrape websites as necessary to find best potential clints and respond with 2 prospects.\n\nuse the tools to also find the mostly likely emails for the prospects.",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        0
      ],
      "id": "bcba55be-1a30-4d22-8706-5ac1fd40ed59",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        192,
        240
      ],
      "id": "1780b1fa-25e2-47f4-8077-65bd91ca3f29",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "N7aJC1uCePlxfj7A",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"prospects\":[\n    {\n      \"First\":\"the prospect first Name\",\n      \"Last Name\":\"The prospect Last name\",\n      \"Company\": \"where they work\",\n      \"email\":\" predicted email address for this prospect\",\n      \"rationale\":\"why they are qualified\"\n    }\n    \n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        688,
        208
      ],
      "id": "22768d3a-416c-4179-9138-73a1f01eacd1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "endpointUrl": "=https://mcp.firecrawl.dev/{{$vars.FIRECRAWL_API_KEY}}/v2/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        352,
        240
      ],
      "id": "8d39ec3d-7a68-421f-9227-aa0916b44124",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.hunter.io/mcp",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        496,
        224
      ],
      "id": "a47c2e87-1d59-4dba-a6b0-b2263fd11e99",
      "name": "MCP Client1",
      "credentials": {
        "httpBearerAuth": {
          "id": "WqXRgxvme64gt70Z",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "24142fbd-401b-45a9-a224-4f9f00023a97",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7b0af55f-ca43-400c-90b2-9dde9f5673ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d92c7aa5ff68481ef3ab8e50426201d259e19f650a140ff0dbe1d88bc2470ad"
  },
  "id": "Gf5TGmUaetG9HLIU",
  "tags": []
}